<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
        <div class="media-body">
          <div>
            <%= user.name %>
          </div>
        </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>